.game-board {
  display: inline-block;
  font-weight: normal !important;
}

.game-row {
  display: flex;
  justify-content: center;
}

.game-cell {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.game-button {
  width: 15vh;
  height: 15vh;
  text-align: center;
  line-height: 15vh;
  font-size: 74px;
  font-family: 'Rubik Mono One', monospace;
  border-radius: 5px;
  border: none;
  margin: 10px;
}

.game-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(151, 123, 75, 0.2);
}

.game-modal-content {
  background-color: rgb(233, 227, 182, 0.25);
  padding: 50px;
  border-radius: 10px;
  text-align: center;
  font-family: 'Danfo', sans-serif;
  font-size: 38px;
  position: relative;
}

.modal-close-button {
  font-family: "Jaro", sans-serif;
  color: #a75d40;
  text-shadow: 2px 2px 0 #efefef;
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal-message {
  margin-top: 20px;
}